body{background-color: darkolivegreen;}

p{color:orchid;}

.mascosas{color:honeydew; font-size: 25px;}

h1{color:rgba(200, 200,200,0.5  ); text-align:center;} 

h2 {color :#FF0000; text-align: center;}

h3 {color:hsla(197, 50, 50); }
